html {
    overflow-y: scroll;
}


/* --------------- Auction Card ---------------*/

.auction-card {
  width: 20rem;
  border: 1px solid;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;

}

.card-title-section{
  min-height: 45px;
  margin-bottom: 0;
}

.card-desc-section{
  /* margin-top: auto; */
  min-height: 110px;
  padding-bottom: 10px;
}
.auction-card:hover {
  transform: scale(1.01)
}

.auction-card img {
  height: 180px;
  object-fit: contain;
  padding:10px;
}

.auction-card .card-body {
  padding: 20px;
}

.auction-card .card-title {
  font-weight: 600;
  font-size: 18px;
}

.auction-card .card-text {
  font-size: 1rem;
  font-weight: bold;
}

.auction-card .btn {
  width: 100%;
  border-radius: 10px;
}

/* --------------- Sidebar ---------------*/

.browse-dashboard {
  padding-top: 56px;
  margin-left: 230px;
}

.sidebar-title{
  padding-left:1vw;
  padding-bottom: 5px;
}

.sidebar {
  width: 230px;
  height: 100vh;
  position: fixed;
  top: 56px;
  left: 0;
  background-color: #f8f9fa;
  padding: 30px 15px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

.sidebar li {
  padding: 5px 0;
  font-size: 14px;
}

.sidebar li {
  cursor: pointer;
}

.sidebar summary{
  list-style: none;
  cursor: pointer;
  padding: 1vh 1vw;
  border-radius: 6px;
}

.sidebar summary:hover {
  background-color: #e9ecef;
}

.sidebar ul ul {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}

.sidebar ul ul ul li:hover {
  background-color: #e9ecef;
}




