{% extends 'layout.html' %}

{% block title %} User Account {% endblock %}

{% block content %}

    <div class="container mt-4">

    <div class="bg-light p-4 rounded mb-3">
        <h2>Account Settings</h2>
        <p class="text-muted mb-0">Edit your account details and active roles</p>
    </div>

    <!-- Dynamic View, If User has more than one role, User can choose their current active role -->
    {% if roles|length > 1 %}
        <div class="bg-light p-4 rounded shadow-sm mb-4">

            <h5>Active Role</h5>

            <form action="/switch_role" method="POST" class="mt-2">
                <div class="d-flex align-items-center gap-2">
                    <label for="active_roles" class = "mb-0">Choose a Role:</label>
                    <select name="active_role" id="active_roles" class="form-select w-auto">
                        <!-- If User has Bidder role -->
                        {% if "Bidder" in roles %}
                            <option value="Bidder" {% if session['active_role']=='Bidder' %}selected{% endif %}>Bidder</option>
                        {% endif %}
                        <!-- If User has Seller role -->
                        {% if "Seller" in roles %}
                            <option value="Seller" {% if session['active_role']=='Seller' %}selected{% endif %}>Seller</option>
                        {% endif %}
                        <!-- If User has Helpdesk role -->
                        {% if "Helpdesk" in roles %}
                            <option value="Helpdesk" {% if session['active_role']=='Helpdesk' %}selected{% endif %}>Helpdesk</option>
                        {% endif %}
                    </select>
                </div>
                <div>
                    <br>
                    <button type="submit" class="btn btn-primary">Switch Role</button>
                </div>
            </form>



            <small class="text-muted d-block mt-2" >
                Switching role changes your current active role and your permissions
            </small>

        </div>
    {% endif %}

    <!-- This Shows all the Users Information-->
    <div class="bg-light p-4 rounded">
        <h4>Profile Information</h4>
        <form action="/update_profile" method="POST">
            <div class="form-group">
                <!-- Shows User Email (Readonly) -->
                <label for = "email"> User ID (Email Address)</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user_data['email']}}" readonly>
                <small class="form-text text-danger"> Email changes require a formal request to the HelpDesk. </small>
            </div>
            <!-- Dynamic View, Shows different Information based on current active_role -->
            {% if active_role == "Seller" %}
                <hr>
                <!-- For Seller Display bank routing number and bank account number-->
                <div class = "form-row" >
                    <div class="form-group col-md-6">
                        <label for = "bank_routing_number" > Bank Routing Number</label>
                        <input type="text" class="form-control" id="bank_routing_number" name="bank_routing_number" value="{{ user_data['bank_routing_number']}}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for = "bank_account_number" > Bank Account Number</label>
                        <input type="text" class="form-control" id="bank_account_number" name="bank_account_number" value="{{ user_data['bank_account_number']}}" readonly>
                    </div>
                </div>
            {% elif active_role == "Bidder" %}
                <!-- For Bidder Display First Name, Last Name, Age and Major -->
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user_data['first_name'] }}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user_data['last_name'] }}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="age">Age</label>
                        <input type="text" class="form-control" id="age" name="age"
                               value="{{ user_data['age'] }}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="major">Major</label>
                        <input type="text" class="form-control" id="major" name="major"
                               value="{{ user_data['major'] }}" required>
                    </div>
                </div>
                <!-- For Bidder Display Credit Cards -->
                <hr>
                <h5>Payment Method (Credit Cards)</h5>
                <!-- If User has Credit Cards -->
                {% if credit_cards|length == 0 %}
                    <div class="alert alert-info">
                        No credit cards saved.
                    </div>
                {% else %}
                    <!-- Show All Credit Cards -->
                    <div class="border rounded p-3 mb-3 bg-white">
                        <div class="row">
                        <!-- Loop through all credit cards-->
                        {% for card in credit_cards %}
                            <div class="col-md-6 mb-3">
                                <div class="card shadow-sm bg-light">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ card['card_type'] }} Card</h6>
                                        <p class="card-text">
                                            <strong>Card:</strong>**** **** **** {{ card['credit_card_num'][-4:] }}<br>
                                            <strong>Expires:</strong> {{ card['expire_month'] }}/{{ card['expire_year'] }}
                                        </p>
                                        <!-- Button to Delete Credit Card -->
                                        <form method="POST" action="/delete_card">
                                            <input type="hidden" name="credit_card_num" value="{{ card['credit_card_num'] }}">
                                            <button class="btn btn-danger btn-sm mt-2">Remove</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <!-- User Add Credit Cards -->
                <h5>Add New Credit Card</h5>
                <form method="POST" action="/add_credit_card">
                    <div class = "form-row">
                        <div class="form-group col-md-4">
                            <label for="credit_card_num">Card Number</label>
                            <input type="text" class="form-control" id="credit_card_num" name="credit_card_num" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="credit_card_type">Card Type</label>
                            <select class="form-control" id="credit_card_type" name="card_type" required>
                                <option value="Visa">Visa</option>
                                <option value="MasterCard">Master</option>
                                <option value="Amex">American Express</option>
                                <option value="Discover">Discover</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for = "expire_month">Month</label>
                            <input type="number" class="form-control" id="expire_month" name="new_exp_month" min="1" max="12" placeholder="MM">
                        </div>
                        <div class="form-group col-md-2">
                            <label for = "expire_year">Year</label>
                            <input type="number" class="form-control" id="expire_year" name="new_exp_year" placeholder="YYYY">
                        </div>
                        <div class="form-group col-md-1">
                            <label for = "security_code" > CVV</label>
                            <input type="text" class="form-control" id="security_code" name="security_code" required>
                        </div>
                    </div>
                <button type="submit" class="btn btn-primary">Add Card</button>
                </form>
            {% endif %}
            <!-- Shows User Address -->
            <hr>
            <h5>Contact Information</h5>
            <div class = "form-row" >
                <div class="form-group col-md-3">
                    <label for = "street_num" >Street Number</label>
                    <input type="text" class="form-control" id="street_num" name="street_num" value="{{ user_address['street_num']}}">
                </div>
                <div class="form-group col-md-6">
                    <label for = "street_name" >Street Name</label>
                    <input type="text" class="form-control" id="street_name" name="street_name" value="{{ user_address['street_name']}}">
                </div>
                <div class="form-group col-md-3">
                    <label for = "zipcode" > Zipcode</label>
                    <input type="text" class="form-control" id="zipcode" name="zipcode" value="{{ user_address['zipcode']}}">
                </div>
            </div>
            <!-- Change Password Information -->
            <hr>
            <h5>Change Password</h5>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <!-- Form for old Password -->
            <div class="form-group">
                <label for="old_password">Current Password</label>
                <input type="password" class="form-control"  id="old_password" name="old_password" placeholder="">
                <small class="form-text text-muted"> You must enter your current password to make changes. </small>
            </div>

            <div class="form-row">

                <!-- Form for new Password -->
                <div class="form-group col-md-6">
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="">
                    <small class="form-text text-muted"> Leave blank to keep current password. </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="confirm_password">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="">
                </div>
            </div>


            <button type="submit" class="btn btn-success"> Save Changes </button>
            <a href="/dashboard" class="btn btn-secondary"> Cancel </a>
        </form>
    </div>
</div>

{% endblock %}