{% extends 'layout.html' %}

{% block title %} Bidder Dashboard {% endblock %}

{% block content %}

    <!-- MAIN CONTENT -->
    <!-- <div class="container mt-4">
        <h1>Bidder Dashboard</h1>
        <p>Welcome to your bidder dashboard!</p>
    </div> -->

    <div class="container mt-4 bg-light p-4 rounded">
        <h2>Current Bids</h2>
        <!-- <p>Here you can see all your current bids.</p> -->

        <div class="row justify-content-start mt-3">
            {% for item in items %}
            <div class="col-md-4 mb-4 d-flex">
                
                <div class="card auction-card">
                    <div class="card-body d-flex flex-column">

                        <h5 class="card-title mb-3">{{ item.name }}</h5>

                        <div class="mb-3">
                            <p class="mb-1"><b>Current Bid:</b> ${{ item.price }}</p>
                            <p class="mb-1"><b>Highest Bidder:</b> {{ item.highest_bidder_name }}</p>
                            <p class="mb-1"><b>Bid Left:</b> {{ item.max_bids - item.bid_count }}</p>
                            <p class="mb-1"><b>Status:</b> 
                                {% if item.status == 1 %}
                                    <span class="badge badge-success">Active</span>
                                {% elif item.status == 0 %}
                                    <span class="badge badge-secondary">Inactive</span>
                                {% elif item.status == 2 %}
                                    <span class="badge badge-danger">Sold</span>
                                {% endif %}
                            </p>
                        </div>

                        <a href="{{ url_for('view_listing', listing_id=item['listing_id']) }}" class="btn btn-primary mt-auto">View Details</a>

                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}