<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bidder Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand text-dark" style="font-weight: bold;" href="/">NITTANY AUCTION</a>

            <div class="d-flex">
                <a href="/browse" class="nav-link text-dark">Browse</a>
                <a href="/bidder_dashboard" class="nav-link text-dark">My Bids</a>
                <a href="" class="nav-link text-dark">Category</a>
            </div> 

            <div class="mx-auto">   
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <div>
                <a href="/user_account" class="btn btn-primary mr-2">My Account</a>
                <a href="/" class="btn btn-outline-secondary">Logout</a>
            </div>
        </div>
    </nav>


    <!-- SIDEBAR -->
    <div class="sidebar">
        <ul>
            {% for category in categories %}
                {% include 'category_recursive.html' %}
            {% endfor %}
        </ul>
    </div>


    <!-- MAIN CONTENT -->
    <div class="container mt-4">
        <h1>Bidder Dashboard</h1>
        <p>Welcome to your bidder dashboard!</p>
    </div>

    <div class="container mt-4 bg-light p-4 rounded">
        <h2>Current Bids</h2>
        <p>Here you can see all your current bids.</p>
    </div>

{#    <div class="container mt-4 bg-light p-4 rounded">#}
{#        <h2>Browse Auctions</h2>#}
{#        <p>Here you can browse ongoing auctions and your bids.</p>#}
{##}
{#    <!-- LIST OF AUCTIONS -->#}
{#    <div class="row justify-content-start mt-3">#}
{#        {% for item in items %}#}
{#        <div class="col-lg-3 mb-3 d-flex justify-content-center">#}
{##}
{#            <div class="card auction-card">#}
{#                <div class="card mb-4">#}
{#            #}
{#                    <img #}
{#                        src="{{ url_for('static', filename='images/' + (item.image if item.image else 'default-auction.jpg')) }}" #}
{#                        class="card-img-top">#}
{##}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">{{ item.name }}</h5>#}
{#                        <p class="card-text">Current Bid: ${{ item.price }}</p>#}
{#                        <a href="#" class="btn btn-primary">Place Bid</a>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#    </div>#}
{#    </div>#}
</body>
</html> 