{% extends 'layout.html' %}

{% block title %} Create Auction Listings {% endblock %}

{% block content %}

    <!-- MAIN CONTENT -->
    <div class="container mt-4 bg-light p-4 rounded">
        <h2>Create Auction</h2>
        <p>Here you can create a new auction.</p>

        <!-- CREATE AUCTION FORM -->
        <form method="POST" action="{{ url_for('create_auction') }}" enctype="multipart/form-data">
            <div class="form-group text-left">
                <label for="name">Item Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter item name" required>   
            </div>  
            <div class="form-group text-left">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter item description" required></textarea>
            </div>
            <div class="form-group text-left">
                <label for="condition">Condition</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter item condition" required></textarea>
            </div>

            <!-- Daniel: reserve place to implement choose from category-->

            <div class="form-group text-left">
                <label for="reserve_price">Reserve Price</label>
                <input type="number" step="0.01" class="form-control" id="starting_price" name="starting_price" placeholder="Enter starting price" required>
            </div>

            <div class="form-group text-left">
                <label for="image">Image</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Create Auction</button>
        </form>
    </div>

{% endblock %}