{% extends 'layout.html' %}

{% block title %} Helpdesk Dashboard {% endblock %}

{% block content %}

    <!-- MAIN CONTENT -->
    <div class="container mt-4 bg-light p-4 rounded">

            <h2>Helpdesk Dashboard</h2>
                <div class="card mb-4">
                    <div class="card-header">Unassigned Requests</div>
                    <div class="card-body">

                    </div>
                    </div>

        <div class="card mb-4">
            <div class="card-header">My Requests</div>
            <div class="card-body">

            </div>
        </div>

        <div class="card">
            <div class="card-header">Completed Requests</div>
            <div class="card-body">

            </div>
        </div>


    </div>


{% endblock %}