{% extends 'layout.html' %}

{% block title %} Helpdesk Dashboard {% endblock %}

{% block content %}

    <!-- MAIN CONTENT -->
    <div class="container mt-4 bg-light p-4 rounded">
    <!-- Shows Helpdesk Dashboard -->
        <h2>Helpdesk Dashboard</h2>
        <p>Manage and View All Incoming Requests</p>
            <div class="card mb-4">
            <!-- Display All the Unassigned Requests -->
                <div class="card-header">Unassigned Requests</div>
                <div class="card-body">
                    <!-- If there is no Unassigned Request Show Alert -->
                    {% if unassigned|length == 0 %}
                        <div class="alert alert-info mt-4">No pending requests.</div>
                    <!-- Loop through all the Unassigned Request -->
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mt-3">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Sender</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in unassigned %}
                                    <tr>
                                        <td>{{ req.request_id }}</td>
                                        <td>{{ req.sender_email }}</td>
                                        <td>{{ req.request_type }}</td>
                                        <td>{{ req.request_desc }}</td>
                                        <td>
                                            <!-- Button to claim Task-->
                                            <form action="/claim_request" method="POST">
                                                <input type="hidden" name="request_id" value="{{ req.request_id }}">
                                                <button type="submit" class="btn btn-primary btn-sm">Claim</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            <!-- Display My Claimed Request-->
            <div class="card mb-4">
                <div class="card-header">Ongoing Requests</div>
                <div class="card-body">
                    <!-- If there is no Ongoing Request Show Alert -->
                    {% if ongoing|length == 0 %}
                        <div class="alert alert-info mt-4">No Ongoing Requests.</div>
                    <!-- Loop through all the Ongoing Request -->
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mt-3">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Sender</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in ongoing %}
                                    <tr>
                                        <td>{{ req.request_id }}</td>
                                        <td>{{ req.sender_email }}</td>
                                        <td>{{ req.request_type }}</td>
                                        <td>{{ req.request_desc }}</td>
                                        <td>
                                            <!-- Button to mark task is completed-->
                                            <form action="/complete_request" method="POST">
                                                <input type="hidden" name="request_id" value="{{ req.request_id }}">
                                                <button type="submit" class="btn btn-success btn-sm">Complete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <div class="card-header">Completed Requests</div>
                <div class="card-body">
                    <!-- If there is no Completed Request Show Alert -->
                    {% if completed|length == 0 %}
                        <div class="alert alert-info mt-4">No Completed Requests.</div>
                    <!-- Loop through all the Completed Request -->
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mt-3">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Sender</th>
                                        <th>Staff Responsible</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for req in completed %}
                                    <tr>
                                        <td>{{ req.request_id }}</td>
                                        <td>{{ req.sender_email }}</td>
                                        <td>{{ req.helpdesk_staff_email }}</td>
                                        <td>{{ req.request_type }}</td>
                                        <td>{{ req.request_desc }}</td>
                                        <td>
                                            <span class="badge badge-success">Completed</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>


    </div>


{% endblock %}