<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Nittany Auction {% endblock %} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand text-dark" style="font-weight: bold;" href="/">NITTANY AUCTION</a>

            <div class="d-flex">
                {%  if active_role == 'Bidder' %}
                    <a href="/bidder_dashboard" class="nav-link text-dark">My Bids</a>
                    <a href="/apply_seller" class="nav-link text-dark">Apply For Seller</a>
                {% elif active_role == 'Seller' %}
                    <a href="/seller_dashboard" class="nav-link text-dark">My Listings
                {% endif %}
                <a href="/browse" class="nav-link text-dark">Browse</a>
            </div>

            <a href="/my_requests" class="nav-link text-dark">Requests</a>

            <div class="ml-auto">
                <a href="/account" class="btn btn-primary mr-2">Account</a>
                <a href="/logout" class="btn btn-outline-secondary">Logout</a>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="text-center mt-5">
        <p> 2026 Nittany Auction Database Project</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>