{% extends 'layout.html' %}

{% block title %} Submit Requests {% endblock %}

{% block content %}

    <div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow-sm">

                <div class="card-body p-4">

                    <h2 class="mb-3">
                        Rate Seller
                    </h2>

                    <form method="POST" action="{{url_for('submit_rating', seller_email=seller_email)}}">
                        <input type="hidden" name="seller_email" value="{{ seller_email }}">
                    <p class="text-muted">Leave a rating for:<strong>{{ seller_email }}</strong></p>
                        <!-- STAR RATING -->
                        <div class="form-group">
                            <label>Rating</label>
                            <select class="form-control" name="rating" required>
                                <option value="">Select Rating </option>
                                <option value="5">★★★★★ (5) </option>
                                <option value="4">★★★★☆ (4)</option>
                                <option value="3">★★★☆☆ (3)</option>
                                <option value="2">★★☆☆☆ (2)</option>
                                <option value="1">★☆☆☆☆ (1)</option>
                            </select>
                        </div>

                        <!-- COMMENT -->
                        <div class="form-group">

                            <label>
                                Review
                            </label>

                            <textarea
                                class="form-control"
                                name="rating_description"
                                rows="5"
                                placeholder="Share your experience..."
                                required></textarea>
                        </div>
                        <!-- SUBMIT -->
                        <button type="submit" class="btn btn-success btn-block"> Submit Rating </button>
                    <a href="{{ url_for('bidder_dashboard') }}"
                       class="btn btn-link btn-block mt-3">
                        Cancel
                    </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}