{% extends 'layout.html' %}

{% block title %} Seller Dashboard {% endblock %}

{% block content %}
    <!-- MAIN CONTENT -->
    <div class="container mt-4 bg-light p-4 rounded">

        <div class="d-flex justify-content-between align-items-center">
            <h2>My Auctions</h2>
            <a href="/seller_dashboard/create_auction" class="btn btn-success">Create New Auction</a>
        </div>

        <p>Here you can create and manage your auctions.</p>
        <form method="GET" action="{{ url_for('seller_dashboard') }}">
            <div class="form-group mb-0">
                <select name="filter" class="form-control form-control-sm" onchange="this.form.submit()">
                    <option value="all" {% if status_filter == 'all' %}selected{% endif %}>All Listings</option>
                    <option value="active" {% if status_filter == 'active' %}selected{% endif %}>Active</option>
                    <option value="inactive" {% if status_filter == 'inactive' %}selected{% endif %}>Inactive</option>
                    <option value="sold" {% if status_filter == 'sold' %}selected{% endif %}>Sold</option>
                </select>
            </div>
        </form>


    <!-- LIST OF AUCTIONS -->
    <div class="row justify-content-start mt-3">
        {% if items|length == 0 %}
            <div class="col-12">
                <p>No listings found for this filter.</p>
            </div>
        {% endif %}

        {% for item in items %}
        <div class="col-md-4 mb-4 d-flex">

            <div class="card auction-card">
            <!-- <div class="card mb-4"> -->
        
                <!-- <img 
                    src="{{ url_for('static', filename='images/' + (item.image if item.image else 'default-auction.jpg')) }}" 
                    class="card-img-top"
                    alt = "placeholder gengar"
                > -->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">Reserve Price: {{ item.price }}</p>
                    <p class="card-text">
                        <strong>Status:</strong>
                        {% if item.status == 1 %}
                            <span class="badge badge-success">Active</span>
                        {% elif item.status == 0 %}
                            <span class="badge badge-secondary">Inactive</span>
                        {% elif item.status == 2 %}
                            <span class="badge badge-danger">Sold</span>
                        {% endif %}
                    </p>
                    <a href="{{ url_for('seller_listing_detail', listing_id=item.listing_id) }}" class="btn btn-primary">View/Edit auction</a>
                </div>
            <!-- </div> -->
            </div>
        </div>
    {% endfor %}
    </div>
    </div>

{% endblock %}