<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seller Redirect Here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <a class="navbar-brand text-dark" style="font-weight: bold;">NITTANY AUCTION</a>
            <a href="{{ url_for('my_requests') }}" class="nav-link text-dark">Requests</a>

            <div class="d-flex">
                <a href="/browse" class="nav-link text-dark">Browse</a>
            </div>

            <div class="mx-auto">
                <form method="GET" action="{{ url_for('browse') }}" class="form-inline">
                    <input class="form-control mr-2"
                           type="search"
                           name="q"
                           placeholder="Search">
                    <button class="btn btn-outline-success">Search</button>
                </form>
            </div>

            <div>
                <!-- <a href="/user_account" class="btn btn-primary mr-2">My Account</a> -->
                <!-- Seller Probably Have no UserProfile Page Account -->
                <a href="/user_account" class="btn btn-primary mr-2">My Account</a>
                <a href="/logout" class="btn btn-outline-secondary">Logout</a>
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container mt-4 bg-light p-4 rounded">

        <div class="d-flex justify-content-between align-items-center">
            <h2>My Auctions</h2>
            <a href="/create_auction" class="btn btn-success">Create New Auction</a>
        </div>

        <p>Here you can create and manage your auctions.</p>
    </div>

    <div class="alert alert-warning mt-3">

        <h5 class="mb-1">
            Seller Rating
        </h5>

        <strong>{{ avg_rating }}</strong> ★
        based on
        {{ total_reviews }}
        review(s)

    </div>

    <!-- LIST OF AUCTIONS -->
    <div class="row justify-content-start mt-3">


        {% if items|length == 0 %}
        <div class="text-center w-100">
            <h5>No listings yet.</h5>
        </div>
        {% endif %}


        {% for item in items %}
        <div class="col-lg-3 mb-3 d-flex justify-content-center">

            <div class="card auction-card">
                <div class="card mb-4">

                    <img
                        src="{{ url_for('static', filename='images/' + (item.image if item.image else 'default-auction.jpg')) }}"
                        class="card-img-top">

                    <div class="card-body">
                        <h5 class="card-title mb-1">{{ item.title }}</h5>
                        <p class="card-title">{{ item.name }}</p>
                        <p class="card-text">Current Bid: {{ item.price }}</p>
                        {% if item.status_code == 1 %}
                            <span class="badge badge-success">Active</span>
                        {% elif item.status_code == 2 %}
                            <span class="badge badge-primary">Sold</span>
                        {% else %}
                            <span class="badge badge-secondary">Inactive</span>
                        {% endif %}

                        <br><br>

                        <a href="{{ url_for('view_listing', listing_id=item.id) }}" class="btn btn-primary">View Auction </a>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>